{% extends "base2.html" %} {% block main %}

<script src="/static/js/vue.min.js"></script>

<script>
    $(function () {

        var bean = JSON.parse(localStorage.getItem('bean'));
        console.log(JSON.stringify(bean));

        var vm = new Vue({
            el: '#product-list',
            data: {
                books: []
            },
            methods: {
                deleteProduct: function (id) {
                }
            }
        });

        $.ajax({
            type: 'get',
            headers: {
                'Authorization': 'Bearer ' + bean.token
            },
            dataType: 'json',
            contentType: 'application/json',
            url: '/api/books'
        }).done(function (res) {
            if (res.code == 0) {
                res.data.map(element => {
                    if (element.thumbnail_url.indexOf('http') < 0) {
                        element.thumbnail_url = '/images/' + element.thumbnail_url;
                    }
                });
                vm.books = res.data;  
            }   
        }).fail(function (jqXHR, textStatus) {
            alert('Error: ' + jqXHR.status);
        });
        // $.getJSON('/api/books').done(function (res) {
        //     res.data.map(element => {
        //         if (element.thumbnail_url.indexOf('http') < 0) {
        //             element.thumbnail_url = '/images/' + element.thumbnail_url;
        //         }
        //     });
        //     vm.books = res.data;
        // }).fail(function (jqXHR, textStatus) {
        //     alert('Error: ' + jqXHR.status);
        // });
    });
</script>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            Books
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addBook">
                            <span data-feather="file"></span>
                            Create Book
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <h1>Books</h1>
            <div class="table-responsive">
                <table id="product-list" class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th style="width:150px;border-bottom: 0;">Corer Image</th>
                            <th style="border-bottom: 0;">Book</th>
                            <!-- <th style="width:100px;border-bottom: 0;">Rating</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="p in books">
                            <td style="position: relative;">
                                <img class="media-object" style="width:100px;padding: 10px 10px;position: absolute;top: 50%;transform: translateY(-50%);"
                                    v-bind:src="p.thumbnail_url">
                            </td>
                            <td>
                                <h2 class="media-heading" v-text="p.name"></h2>
                                <p>
                                    <span v-text="p.author"></span>
                                    <span>|</span>
                                    <span v-text="p.category">
                                </p>
                                <p v-text="p.introduction" style="color:silver;"></p>
                            </td>
                            <!-- <td style="position: relative;">
                                <p style="font-size:2em; color:red;height:auto;position: absolute;top: 50%;transform: translateY(-50%);">
                                    <span v-text="p.rating"></span>
                                    <span v-if="p.rating" style="font-size:14px;">分
                                </p>
                            </td> -->
                            <td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

{% endblock %}