{% extends "base2.html" %} {% block main %}

<script src="/static/js/vue.min.js"></script>

<script>
    $(function () {

        var bean = JSON.parse(localStorage.getItem('bean'));
        var _pageSize = 20;
        // console.log(JSON.stringify(bean));

        var vm = new Vue({
            el: '#product-list',
            data: {
                books: [],
                pageItems: [],
                currentPage: 1
            },
            methods: {
                deleteBook: function (id) {
                    var that = this;
                    if (!id) {
                        return;
                    }
                    var params = { bookId: id };
                    $.ajax({
                        type: 'post',
                        headers: {
                            'Authorization': 'Bearer ' + bean.token
                        },
                        dataType: 'json',
                        contentType: 'application/json',
                        url: '/api/deleteBook',
                        data: JSON.stringify(params)
                    }).done(function (res) {
                        if (res.code == 0) {
                            $('#myModel').modal('show');
                            $('#myModel').find('.modal-body').text('删除成功！');
                            var deleteBookId = res.data;
                            var i;
                            for (i = 0; i < that.books.length; i++) {
                                if (that.books[i].id === deleteBookId) {
                                    that.books.splice(i, 1);
                                    return;
                                }
                            }
                        } else {
                            $('#myModel').modal('show');
                            $('#myModel').find('.modal-body').text(res.msg);
                        }
                    }).fail(function (jqXHR, textStatus) {
                        // Not 200:
                        alert('Error: ' + jqXHR.status);
                    });
                },

                changePage: function (pageItem) {
                    if (pageItem.class == 'page-item disabled') {
                        return;
                    }
                    if (pageItem.desc == '上一页') {
                        this.currentPage--;
                    } else if (pageItem.desc == '下一页') {
                        this.currentPage++;
                    } else if (pageItem.desc == '...') {
                        this.currentPage = 10;
                    } else {
                        this.currentPage = parseInt(pageItem.desc);
                    }
                    console.log('🌹🌹CurrentPage is ' + this.currentPage);
                    this.getBooks(this.currentPage - 1);
                },

                getBooks: function (page) {
                    $.ajax({
                        type: 'POST',
                        headers: {
                            'Authorization': 'Bearer ' + bean.token
                        },
                        dataType: 'json',
                        contentType: 'application/json',
                        url: '/api/books',
                        data: JSON.stringify({
                            start: page * _pageSize,
                            pageSize: _pageSize
                        })
                    }).done(function (res) {
                        if (res.code == 0) {
                            res.data.rows.map(element => {
                                if (element.thumbnail_url.indexOf('http') < 0) {
                                    element.thumbnail_url = '/images/' + element.thumbnail_url;
                                }
                            });
                            vm.books = [];
                            vm.books = res.data.rows;
                            vm.pageItems = [];
                            var pages = Math.ceil(res.data.count / _pageSize);
                            if (pages > 1) {
                                for (var i = 0; i < pages + 2; i++) {
                                    var item = { class: 'page-item', desc: i.toString() };
                                    if (i == 0) {
                                        item.class = 'page-item';
                                        item.desc = '上一页';
                                    }
                                    if (i == pages + 1) {
                                        item.class = 'page-item';
                                        item.desc = '下一页';
                                    }
                                    if (i == page + 1) { // 当前页
                                        item.class = 'page-item disabled';
                                    }
                                    vm.pageItems.push(item);
                                }
                                if (1 == page + 1) { // 当前页是第一页
                                    vm.pageItems[0].class = 'page-item disabled';
                                }
                                if (pages == page + 1) { // 当前页是最后一页
                                    vm.pageItems[vm.pageItems.length-1].class = 'page-item disabled';
                                }
                                if (pages > 15) {
                                    vm.pageItems[11].desc = '...';
                                    vm.pageItems.splice(12, pages + 2 - 12 - 3);
                                }
                            }
                        } else {
                            $('#myModel').modal('show');
                            $('#myModel').find('.modal-body').text(res.msg);
                        }
                    }).fail(function (jqXHR, textStatus) {
                        alert('Error: ' + jqXHR.status);
                    });
                }
            }
        });

        vm.getBooks(0);

        $('#myModel').on('hidden.bs.modal', function (e) {
            var modal_body_text = $('#myModel').find('.modal-body')[0].innerText;
            if (modal_body_text == '删除成功！') {

            } else if (modal_body_text == '认证失败' || modal_body_text == 'token is undefined') {
                window.location.href = '/';
            } else {

            }
        })
    });
</script>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            书库
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addBook">
                            <span data-feather="file"></span>
                            新建
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main id="product-list" role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <h1 style="margin-bottom: 20px;">书库</h1>
            <!-- <nav class="navbar navbar-light justify-content-between" style="background-color: #e3f2fd;">
                <a class="navbar-brand">Navbar</a>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav> -->
            <div class="table-responsive" style="border-bottom: 1px solid #dee2e6;margin-bottom: 30px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:150px;border-bottom: 0;border-top: 0;">图书封面</th>
                            <th style="border-bottom: 0;border-top: 0;">图书信息</th>
                            <th style="width:100px;border-bottom: 0;border-top: 0;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="p in books">
                            <td style="position: relative;">
                                <img class="media-object" style="width:100px;padding: 10px 10px;position: absolute;top: 50%;transform: translateY(-50%);"
                                    v-bind:src="p.thumbnail_url">
                            </td>
                            <td>
                                <h2 class="media-heading" v-text="p.name"></h2>
                                <p>
                                    <span v-text="p.author"></span>
                                    <span>|</span>
                                    <span v-text="p.category">
                                </p>
                                <p v-text="p.introduction" style="color:silver; word-break: break-all;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;"></p>
                            </td>
                            <td style="position: relative;">
                                <!-- <p style="font-size:2em; color:red;height:auto;position: absolute;top: 50%;transform: translateY(-50%);">
                                    <span v-text="p.rating"></span>
                                    <span v-if="p.rating" style="font-size:14px;">分
                                </p> -->
                                <p class="btn-group" role="group" aria-label="operate" style="position: absolute;top: 50%;transform: translateY(-50%);">
                                    <button type="button" class="btn btn-link btn-sm">编辑</button>
                                    <button type="button" class="btn btn-link btn-sm" v-on:click="deleteBook(p.id)">删除</button>
                                </p>
                            </td>
                            <td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end">
                    <li v-for="item in pageItems" v-bind:class="item.class" v-on:click="changePage(item)">
                        <a class="page-link" v-text="item.desc"></a>
                    </li>
                </ul>
            </nav>
        </main>
    </div>
</div>

{% endblock %}